{% extends "main_template.html" %}

{% block body %}
    <div class="wrapper">
        <div class="row row-offcanvas row-offcanvas-left">
            <!-- sidebar -->
            <div class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
                {% if session['student_details']['gender'] == "Female" %}
                    <img src="{{ url_for('static', filename='images/female_user.png') }}"
                         class="img-circle center-block profile-image">

                {% else %}
                    <img src="{{ url_for('static', filename='images/female_user.jpg') }}"
                         class="img-circle center-block profile-image">

                {% endif %}

                <ul class="nav" id="menu">
                    <li><a href="{{ url_for("student_details") }}"><i class="fa fa-list-alt"></i> <span class="collapse in hidden-xs"> STUDENT DETAILS </span></a></li>
                    <li><a href="{{ url_for("timetable") }}"><i class="fa fa-list"></i> <span class="collapse in hidden-xs"> TIMETABLE </span></a></li>
                    <li><a href="{{ url_for("accommodation") }}"><i class="fa fa-paperclip"></i> <span class="collapse in hidden-xs"> ACCOMMODATION </span></a></li>
                    <li><a href="{{ url_for("cats_and_exams") }}"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs"> CATS AND EXAMS </span></a></li>
                    <li><a href="{{ url_for("results") }}"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs"> RESULTS </span></a></li>
                    <li><a href="{{ url_for("notes") }}"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs"> NOTES </span></a></li>
                    <li><a href="{{ url_for("fees") }}"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs"> FEES </span></a></li>
                    <li>
                        <a href="#" data-target="#item1" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>
                        <ul class="nav nav-stacked collapse left-submenu" id="item1">
                            <li><a href="google.com">View One</a></li>
                            <li><a href="gmail.com">View Two</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">Link</span></a></li>
                </ul>
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-9 col-xs-11" id="main">
                <p><a href="#" data-toggle="offcanvas"><span class="glyphicon glyphicon-arrow-left"></span></a></p>

                {% block content %}
                {% endblock %}
            </div>
            <!-- /main -->
        </div>
    </div>

    <div class="container-fluid">
    </div>

{% endblock %}