{% extends "main_template.html" %}

{% block title %}
    LOGIN
{% endblock %}

{% block body %}
    <div>
        <br>

        <div class="center-block" style="width:50%;">
            <h1 class="text-center"> LOGIN TO PORTAL </h1>

            <hr>

            <form method="post" action="">
                Registration Number:
                <input type="text" name="reg_no" placeholder="Registration Number" autocomplete="off" maxlength="15"
                       class="form-control">
                <br>

                Password:
                <input type="password" name="password" placeholder="Password" autocomplete="off" maxlength="25"
                       class="form-control">
                <br>

                <input type="submit" value="Login" class="align-right form-control">
            </form>

            {% if error %}
                <div class="alert alert-danger"> {{ error }} </div>
            {% endif %}

        </div>
    </div>

{% endblock %}