{% extends "main_template.html" %}

{% block title %}
    RESET PASSWORD
{% endblock %}

{% block body %}
    <div>
        <br>

        <div class="center-block" style="width:50%;">
            <h1 class="text-center"> RESET PASSWORD </h1>

            <hr class="divider">

            <form method="post" action="">
                Registration Number
                <input type="text" name="registration_number" placeholder="Registration Number" maxlength="25" class="form-control"> <br>

                <input type="submit" value="Submit" class="align-right form-control">
            </form>

            {% if error %}
                <div class="alert alert-danger"> {{ error }} </div>
            {% endif %}

        </div>
    </div>

{% endblock %}