{% extends "my_templates/account_template.html" %}

{% block title %}
    DASHBOARD
{% endblock %}

{% block content %}
    <div class="row dash-tabs">
    <a href="#">
        <div class="col-xs-4 col-sm-3 info-tabs">
            <h4> Notifications: <span class="badge"> 0 </span> </h4>

        </div>
    </a>

    <a href="#">
        <div class="col-xs-4 col-sm-3 info-tabs">
            <h4> Messages: <span class="badge"> 0 </span> </h4>

        </div>
    </a>

    <a href="#">
        <div class="col-xs-4 col-sm-3 info-tabs">
            <h4> Others: <span class="badge"> 0 </span> </h4>

        </div>
    </a>

    <a href="#">
        <div class="col-xs-4 col-sm-3 info-tabs">
            <h4> Others: <span class="badge"> 0 </span> </h4>

        </div>
    </a>

    <hr>


{% endblock %}