{% extends "my_templates/account_template.html" %}

{% block title %}
    FEES
{% endblock %}

{% block content %}
    {% set fee_balance = session['student_details']['fee_balance'] %}

    {% if fee_balance < 0 %}
        {% set bal_class = "over_pay" %}

    {% else %}
        {% set bal_class = "under_pay" %}

    {% endif %}

    <div class="info-tabs">
        <p>
            THIS SEMESTERS FEE:
            <span class="text-info"> {{ fee }} </span>
        </p>

        <p>
            YOU PAID:
            <span class="text-info"> {{ paid }} </span>
        </p>

        <p>
            PREVIOUS OVERPAYMENTS:
            <span class="text-info"> {{ over_p }} </span>
        </p>

        <p class="{{ bal_class }}">
            CURRENT BALANCE:
            {{ fee_balance }}
        </p>
    </div>


    <!--
    <div>
        <canvas id="canvas" style="width:300px; height:300px;"></canvas>
    </div>
    -->

    <hr>
    <h4 class="text-center"> YOUR PAYMENT HISTORY </h4>
    <hr>

    {% if payment_history %}
        <table class="table">
            <tr>
                <th> TRANSACTION ID</th>
                <th> TRANSACTION DATE </th>
                <th> TRANSACTION CHANNEL </th>
                <th> AMOUNT </th>
                <th> BALANCE AFTER </th>
            </tr>
            {% for payment in payment_history %}
                <tr>
                    <td> {{ payment['transaction_id'] }} </td>
                    <td> {{ payment['transaction_date'] }} </td>
                    <td> {{ payment['transaction_channel'] }} </td>
                    <td> {{ payment['transaction_amount'] }} </td>
                    <td> {{ payment['balance_after'] }} </td>
                </tr>

            {% endfor %}
        </table>

    {% else %}
        <div class="alert alert-info"> YOUR HAVE NOT MADE ANY PAYMENTS YET </div>

    {% endif %}

{% endblock %}