{% extends "my_templates/account_template.html" %}

{% block title %}
    STUDENT DETAILS
{% endblock %}

{% block content %}
    {% if details %}
        <h4 class="text-center text-info"> DETAILS </h4>

        <table class="table">
            <tr>
                <td class="table-label"> REGISTRATION NUMBER </td>
                <td> : </td>
                <td> {{ details['registration_number'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> LAST NAME </td>
                <td> : </td>
                <td> {{ details['first_name'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> FIRST NAME </td>
                <td> : </td>
                <td> {{ details['last_name'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> OTHER NAMES</td>
                <td> : </td>
                <td> {{ details['other_names'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> MODE OF ADMISSION </td>
                <td> : </td>
                <td> {{ details['mode_of_admission'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> FACULTY</td>
                <td> : </td>
                <td> {{ details['faculty'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> COURSE LEVEL </td>
                <td> : </td>
                <td> {{ details['course_level'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> COURSE </td>
                <td> : </td>
                <td> {{ details['course'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> EMAIL </td>
                <td> : </td>
                <td> {{ details['email'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> PHONE NUMBER </td>
                <td> : </td>
                <td> {{ details['phone_number'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> GENDER </td>
                <td> : </td>
                <td> {{ details['gender'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> DATE OF BIRTH </td>
                <td> : </td>
                <td> {{ details['date_of_birth'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> REGISTRATION DATE </td>
                <td> : </td>
                <td> {{ details['registration_date'].strftime('%d-%b-%Y') }}</td>
            </tr>

            <tr>
                <td class="table-label"> YEAR </td>
                <td> : </td>
                <td> {{ details['current_year'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> SEMESTER
                <td> : </td>
                <td> {{ details['current_semester'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> HOSTEL </td>
                <td> : </td>
                <td> {{ details['hostel'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> ROOM NUMBER </td>
                <td> : </td>
                <td> {{ details['room_number'] }}</td>
            </tr>

            <tr>
                <td class="table-label"> DISABLED? </td>
                <td> : </td>
                <td> {{ details['disabled'] }}</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}